.mostrarDetalles {
  display: block;
}

.ocultarDetalles {
  display: none;
}

mat-expansion-panel {
  margin-bottom: 1rem;
}
pre {

  white-space: pre-wrap;       /* Since CSS 2.1 */

}
