<div *ngIf="!cargandoPropiedadesPeticion;">
  <div *ngIf='dataSource.data.length > 0; else SinDatos' #tablaScroll class="tabla-scroll">

    <table mat-table #tabla [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)"
      [matSortActive]="sortActive" [matSortDirection]="sortDirection" class="tabla-listado">

      <!-- Nombre de la Propiedad de Petición -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell class="truncate" *matCellDef="let element">
          <span [matTooltip]="element.attributes.nombre" matTooltipPosition="above">
            <a class="detalle-link" [routerLink]="['/', 'peticiones', idPeticion, 'propiedades', element.id]">
              {{element.attributes.nombre}}
            </a>
          </span>
        </td>
      </ng-container>

      <!-- Valor de la Propiedad de Petición -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell class="truncate" *matCellDef="let element">
          <span [matTooltip]="element.attributes.valor" matTooltipPosition="above">
            {{ element.attributes.valor }}
          </span>

        </td>
      </ng-container>

      <!-- Fecha de Modificación de la Propiedad de Petición -->
      <ng-container matColumnDef="fechaDeModificacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Modificación </th>
        <td mat-cell *matCellDef="let element"> {{ element.attributes.fechaDeModificacion | date: 'dd/MM/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="acciones" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> </th>
        <td class="overflow-celda" mat-cell *matCellDef="let element">
          <mat-icon matSuffix [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element: element}">
            more_vert
          </mat-icon>
        </td>
      </ng-container>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-element="element">
          <button mat-menu-item [routerLink]="['/', 'peticiones', idPeticion, 'propiedades', element.id]">
            <mat-icon>mode_edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="eliminar(element.id)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </ng-template>
      </mat-menu>
      <tr mat-header-row class="tabla-cabecera" *matHeaderRowDef="columnasVisibles; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
    </table>

  </div>
  <mat-paginator #paginatorTable class="mat-paginator-sticky" #paginator [pageSizeOptions]="[10, 15, 50, 100]"
    [pageSize]="pageSize" [pageIndex]="pageIndex" showFirstLastButtons aria-label="Selecciona la página"
    (page)="onPaginateChange($event)">
  </mat-paginator>
  <ng-template #SinDatos>
    <div class="sin-datos">
      <span>No existen datos para los filtros seleccionados.</span>
    </div>
  </ng-template>
</div>
<mat-card *ngIf="cargandoPropiedadesPeticion;">
  <mat-card-content>
    <abanca-cargando [valorLoading]="cargandoPropiedadesPeticion" msg="Cargando las propiedades de la petición..."></abanca-cargando>
  </mat-card-content>
</mat-card>
