.control-code-resolver {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.label-code-resolver {
  color: gray;
  flex-grow: 1;
  width: 70%;
}

.input-code-resolver {
  width: 9em;
}

.form-field-code-resolver {
  width: 100%;
}

.cargando-div {
  display: flex;
  height: 25px;
  justify-content: center;
}

.cargando-texto {
  font-size: small;
  color: black;
  opacity: 0.7;
  padding-left: 0.5em;
  padding-top: 0.4em;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.material-icons-cargando {
  color: #5c88da;
}

.error-message {
  font-size: 0.75rem;
  color: #f44336;
  margin-top: 5px;
}

.input-error {
  display: flex;
  justify-content: flex-end;
}
