<form [formGroup]="formulario" class="formulario" *ngIf="!cargando && !guardando">
  <div class="cabecera-contenido">
    <h2>Modificar propiedad de petición '{{idPeticion}}'</h2>
    <div class="botones">
      <button [routerLink]="['/', 'peticiones', idPeticion, 'propiedades']" mat-raised-button color="accent">
        <div class="icono-boton">
          <mat-icon>arrow_back</mat-icon> Volver
        </div>
      </button>
      <button [disabled]="formulario.invalid || !esEditable" style="margin-left: 0.5em" mat-raised-button
        color="primary" (click)="guardar()">
        <div class="icono-boton">
          <mat-icon>save</mat-icon>&nbsp;Guardar
        </div>
      </button>
    </div>
  </div>

  <!-- <mat-form-field class="formularioClave">
    <mat-label>Clave</mat-label>
    <input #nombre matInput formControlName="clave" placeholder="Clave">
  </mat-form-field> -->

  <mat-form-field class="formularioNombre">
    <mat-label>Nombre</mat-label>
    <input #nombre matInput formControlName="nombre" placeholder="Nombre" readonly>
  </mat-form-field>

  <mat-form-field class="formularioValor" *ngIf="!esPropiedadEstado">
    <mat-label>Valor</mat-label>
    <!-- <input #nombre matInput formControlName="valor" placeholder="Valor" [readonly]="!esEditable"> -->
    <textarea #autosize="cdkTextareaAutosize" matInput formControlName="valor" placeholder="Valor"
      [readonly]="!esEditable" cdkTextareaAutosize rows="1" cols="20"></textarea>
  </mat-form-field>

  <abanca-cargando [valorLoading]="cargandoEstadosPosibles" *ngIf="esPropiedadEstado"></abanca-cargando>
  <mat-form-field class="formularioValorEstado" *ngIf="esPropiedadEstado && !cargandoEstadosPosibles">
    <mat-label>Valor</mat-label>
    <mat-select formControlName="valor" [disabled]="!esEditable">
      <!-- Opción placeholder: cadena vacía -->
      <mat-option [value]="''">
        -- Selecciona un valor --
      </mat-option>
      <!-- Tus opciones habituales -->
      <mat-option *ngFor="let estado of estados" [value]="estado.attributes.codigoDeEstado.toString()">
        {{ estado.attributes.descripcion }}
      </mat-option>
      <mat-option [value]=VALOR_NULL>
        Sin estado definido (null)
      </mat-option>
    </mat-select>
  </mat-form-field>



  <div class="error-summary">
    <div *ngIf="formulario.invalid && formulario.get('clave')?.touched && formulario.get('clave')?.errors?.required"
      class="error-message">El campo clave es obligatorio.</div>
    <div *ngIf="formulario.invalid && formulario.get('nombre')?.touched && formulario.get('nombre')?.errors?.required"
      class="error-message">El campo nombre es obligatorio.</div>
    <!-- <div *ngIf="formulario.invalid && formulario.get('valor')?.touched && formulario.get('valor')?.errors?.required"
      class="error-message">El campo valor es obligatorio.</div> -->
    <div *ngIf="!esEditable" class="error-message">Esta propiedad de petición no es editable.</div>
  </div>

</form>
<mat-card *ngIf="cargando" class="mat-card-cargando">
  <mat-card-content>
    <abanca-cargando [valorLoading]="cargando" msg="Cargando..."></abanca-cargando>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="guardando" class="mat-card-cargando">
  <mat-card-content>
    <abanca-cargando [valorLoading]="guardando" msg="Guardando..."></abanca-cargando>
  </mat-card-content>
</mat-card>
