<!--The content below is only a placeholder and can be replaced.-->
<article class="wrapper">
  <section class="hero">
    <div class="hero-wrapper">
      <div class="heroleft">
        <img src="https://cdn.abanca.io/assets/logos/abanca-white.svg">
        <h1>Tu aplicación <span>{{ title }}</span></h1>
        <p>se ha instalado correctamente!</p>
      </div>
      <div class="heroright">
        <img src="https://cdn.abanca.io/assets/images/be/todo-en-orden.svg">
      </div>
    </div>
  </section>

  <p class="description">Tienes estas herramientas a tu disposición para completar aplicaciones:</p>
  <article class=infozone>

    <a target="_blank" href="http://core.morphe.abanca.io/" class="link-card">
      <div class="link-header">
        <div class="link-title">Morphe Core</div>
        <img src="https://cdn.abanca.io/assets/logos/morphe-core.svg">
      </div>
      <div class="link-description">Infraestructura y herramientas para el desarrollo e implementación de aplicaciones
        corporativas.</div>
    </a>

    <a target="_blank" href="http://dcaplicaciones/mrphaa4007/" class="link-card">
      <div class="link-header">
        <div class="link-title">Morphe Material</div>
        <img src="https://cdn.abanca.io/assets/logos/morphe-core.svg">
      </div>
      <div class="link-description">Colección de componentes ya con estilos para el desarrollo e implementación de
        aplicaciones corporativas.</div>
    </a>


    <a target="_blank" href="http://blog.morphe.abanca.io/blog/" class="link-card">
      <div class="link-header">
        <div class="link-title">Morphe Blog</div>
        <img src="https://cdn.abanca.io/assets/logos/morphe-core.svg">
      </div>
      <div class="link-description">Noticias, actualizaciones y consejos sobre el desarrollo de aplicaciones
        corporativas.</div>
    </a>

  </article>

  <article class=infozone>
    <a target="_blank" href="http://www.morphe.abanca.io/" class="link-card">
      <div class="link-header">
        <div class="link-title">Morphe Home</div>
        <img src="https://cdn.abanca.io/assets/logos/morphe-ux.svg">
      </div>
      <div class="link-description">Website donde se unifican todos los enlaces relativos a la UX y diseño de
        aplicaciones corporativas.</div>
    </a>

    <a target="_blank" href="http://morphe.abanca.io/recursos/" class="link-card">
      <div class="link-header">
        <div class="link-title">Morphe UI</div>
        <img src="https://cdn.abanca.io/assets/logos/morphe-ux.svg">
      </div>
      <div class="link-description">Define las normas que deben seguir todas las aplicaciones ABANCA, independientemente
        de la plataforma. </div>
    </a>

    <a target="_blank" href="http://resources.morphe.abanca.io/" class="link-card">
      <div class="link-header">
        <div class="link-title">ABANCA CDN</div>
        <img src="https://cdn.abanca.io/assets/logos/morphe-ux.svg">
      </div>
      <div class="link-description">Iconos, Animaciones, Logotipos, Tipografías e Imágenes para usar en las
        aplicaciones.</div>
    </a>

  </article>


  <article class="linkswrapper">
    <!-- <div class="description">Atajos de interés</div> -->
    <section class="linkscolumnwrapper">

      <div class="linkscolumn">
        <h1>Corporativo</h1>
        <ul>
          <li><a target="_blank" href="https://abanca.com/">ABANCA</a></li>
          <li><a target="_blank" href="https://gitlab.abanca.io/">Gitlab</a></li>
          <li><a target="_blank" href="https://nodejs.org/">Node</a></li>
          <li><a target="_blank" href="https://www.typescriptlang.org/">Typescript</a></li>
        </ul>
      </div>

      <div class="linkscolumn">
        <h1>Desarrollo</h1>
        <ul>
          <li><a target="_blank" href="https://angular.io/">Angular</a></li>
          <li><a target="_blank" href="https://material.angular.io/">Angular Material</a></li>
          <li><a target="_blank" href="https://github.com/angular/angular-cli">Angular CLI</a></li>
          <li><a target="_blank" href="https://echarts.apache.org/">Echarts</a></li>
        </ul>
      </div>

      <div class="linkscolumn">
        <h1>Morphe</h1>
        <ul>
          <li><a target="_blank" href="http://resources.morphe.abanca.io/#!/iconos">Iconos</a></li>
          <li><a target="_blank" href="http://resources.morphe.abanca.io/#!/animaciones">Animaciones</a></li>
          <li><a target="_blank" href="http://resources.morphe.abanca.io/#!/logos">Logotipos</a></li>
          <li><a target="_blank" href="http://resources.morphe.abanca.io/#!/tipografias">Tipografías</a></li>
          <li><a target="_blank" href="http://resources.morphe.abanca.io/#!/images">Imágenes</a></li>
          <li><a target="_blank" href="http://mailing.morphe.abanca.io/">Email templates</a></li>
        </ul>
      </div>

      <div class="linkscolumn">
        <h1>Documentación</h1>
        <ul>
          <li><a target="_blank" href="http://morphe.abanca.io/libro-blanco/">Libro blanco</a></li>
          <li><a target="_blank" href="https://blog.angular.io/">Angular Blog</a></li>
          <li><a target="_blank" href="https://docs.gitlab.com/">Gitlab Docs</a></li>
          <li><a target="_blank" href="https://docs.gitlab.com/ee/administration/pages/">Gitlab pages</a></li>
          <li><a target="_blank" href="http://api.morphe.abanca.io/">Morphe API</a></li>
        </ul>
      </div>


    </section>
  </article>

  <p class="footer">ABANCA 2023</p>

</article>
